* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 64px;
  line-height: 64px;
  background-color: #d3d3d32b;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 70px;
  border-bottom: 2px solid #cfcfcf;
}

.wrapper {
  margin: 71px 62px 0px 100px;
  display: flex;
  flex-direction: row;
}

label {
  color: rgb(74, 74, 74);
  font-size: 18px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 565px;
  font-family: 'Noto Sans', sans-serif;
}

form input {
  height: 45px;
  border-radius: 4px;
  border: 1px solid #80808047;
  padding: 15px 0 15px 15px;
  margin: 10px 0 20px 0;
}

input {
  border: none;
  box-shadow: none;
  outline: none;
  color: grey;
}

input[type='text']:focus,
input[type='password']:focus {

  box-shadow: 0 0 0 3px rgba(140, 201, 255, 0.489);
  border: 1px solid rgba(105, 158, 237, 0.784);
}

.buttonForm {
  font-size: 17px;
  width: 100%;
  height: 45px;
  border-radius: 4px;
  border: 1px solid green;
  color: white;
  background-color: #19b319;
}

.add {
  display: block;
}

.edit {
  background-color: rgb(6 163 170);
}

.add:hover {
  background-color: #31a031;
}

.add:focus {
  box-shadow: 0 0 0 3px #27d22779;
  border: 1px solid green;
}

.edit:hover {
  background-color: rgb(13 130 135);
}

.table,
.table-block {
  margin: 16px 30px 0 23px;
  width: 554px;
}

thead {
  margin: 25px 20px 0 40px;
  border-top: 1px solid #80808047;
  font-weight: bold;
  padding: 10px 0 13px 20px;
}

th {
  font-size: 18px;
}

.tr td {
  padding: 14px;
  font-size: 16px;
}

input.ng-touched.ng-invalid {
  border: 2px solid #cd1d3ee8;
}

input.ng-touched.ng-valid {
  border: 2px solid lightgray;
}

.buttonDelete {
  width: 76px;
  height: 45px;
}

.buttonEdit {
  width: 60px;
  height: 45px;
}